<!DOCTYPE html>
<html>
<head>
  <title>Api maker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "api_maker/application", media: "all" %>
  <%= javascript_include_tag "api_maker/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
