<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
      window.RAILS_ENV = "<%= Rails.env %>"
    </script>

    <%= javascript_pack_tag "application" %>
  </head>
  <body>
    <% if params[:current_user_with_preloads] %>
      <script type="text/javascript">
        if (!window.apiMakerDeviseCurrent) {
          window.apiMakerDeviseCurrent = {}
        }

        <%
          if signed_in?
            collection_serializer = ApiMaker::CollectionSerializer.new(
              ability: current_ability,
              api_maker_args: api_maker_args,
              collection: [current_user],
              locals: api_maker_locals,
              model_class: User,
              query_params: {
                preload: ["user_roles"]
              }
            )

            %>
              window.apiMakerDeviseCurrent["user"] = <%= signed_in? ? collection_serializer.to_json(result_parser: true).html_safe : null %>
            <%
          end
        %>
      </script>
    <% else %>
      <%= render "api_maker/data" %>
    <% end %>

    <%= yield %>
  </body>
</html>
